{% extends 'base.html.twig' %}


{% block body %}
<div class="container">
    <div class="row">
        <div class="col-sm-2">
            {% include 'sidebar.html.twig' %}
        </div>
        <div class="col-sm-10">
            <div class="list-group">
                <a href="#" class="list-group-item">
                    Company 1
                </a>
                <a href="#" class="list-group-item">Company 2</a>
                <a href="#" class="list-group-item">Company 3</a>
                <a href="#" class="list-group-item">Company 4</a>
            </div>
        </div>
    </div>

</div>
{% endblock %}
